html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    background-color: black;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#enter {
    position: absolute;
    background: transparent;
    display: none;
    outline: 1px solid;
    left: 36%;
    top: 30%;
    width: 25%;
    height: 12.5%;
    text-align: center;
    border-color: #fff;
    color: #fff;
    border: 10px;
    border-style: double;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 30px
}

#code {
    position: absolute;
    left: 25%;
    top: 30%;
    width: 50%;
    height: 50%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 25px
}

#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .placeholder {
    margin-left: 15px
}

#code .comments {
    color: #3f7f5f
}

#code span {
    line-height: 50px;
}